<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <h1>HOME</h1>
          </a>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="btn-group-vertical">
                <button type="button" class="btn btn-outline-danger">First</button>
                <button type="button" class="btn btn-outline-danger">Second</button>
                <button type="button" class="btn btn-outline-danger">Third</button>
                <button type="button" class="btn btn-outline-danger">Fourth</button>
                <button type="button" class="btn btn-outline-danger">Fifth</button>
                <button type="button" class="btn btn-outline-danger">Sixth</button>
                </div>
                </div>
            <div class="col-sm-9">---------</div>
        </div>
    </div>
</body>
</html>